{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <br>
    <h1 class="mb-5">Listado de comentarios</h1>
    {%if rol != 'Estudiante'%}
        <a href="/Comentarios/Registrar_comentario" class="btn btn-primary mb-5"> Registrar comentario </a>
    {%endif%}
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class= "alert alert-success" role="alert" style="font-size: large;">
        <ul class = flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <br>

    <table class="table">

        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Descripción</th>
                <th scope="col">Actividad</th>
                <th scope="col">Docente</th>
                {%if rol != 'Estudiante'%}
                    <th scope="col"> Acciones</th>
                {%endif%}
            </tr>
        </thead>

        <tbody>

            {% for comentario in comentarios %}
            <tr>
                <th scope="row">{{comentario.0}}</th>
                <td>{{comentario.1}}</td>
                <td>{{comentario.2}}</td>
                <td>{{comentario.3}}</td>
                <td>{{comentario.4}}</td>
                {%if rol != 'Estudiante'%}
                    <td><a href="/Comentarios/Editar_comentario/{{ comentario.0 }}" class="btn btn-secondary">Editar</a></td>
                    <td><a href="/Comentarios/Eliminar_comentario/{{ comentario.0 }}" class="btn btn-danger btn-delete">Eliminar</a></td>
                {%endif%}
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}